#author {
  text-align: center;
  font-family: Comic Sans MS;
}
.gimkit_title {
  text-align: center;
  font-family: sans-serif;
  color: red;
}
.writing {
  font-family: Comic Sans MS;
  text-align: justify;
}
.image {
  text-align: center;
}
.button {
  box-shadow: 6px 3px 0px 1px #899599;
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  background-color:#ededed;
  border-radius:21px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#3a8a9e;
  font-family:Arial;
  font-size:20px;
  padding:9px 23px;
  text-decoration:none;
}
.button:hover {
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  background-color:#bab1ba;
}
.button:active {
  position:relative;
  top:1px;
}
